*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: pink;
    width: 100%;
    // height: 95vh;
    img{
        width: 100%;
        height: 96vh;

    }
    menu{
        color: #000;
    }
}

